#app{

    backgroundImage : url("img/bg0.jpg");
    background-size:cover;
    z-index: 1;

}

#contentWrapper{
    z-index: 2;

    background-color: black;
    transition-property: opacity;
    transition-duration: 3s;
    height:100vh;
    opacity: 0.75;

}



#mainWrapper {
    max-width: 50%;
    /*margin: 0 auto;*/
    background-color: transparent;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    height: 100px;
}

#pageHeader{
    margin-top:10%;
    max-width:75%;
}


#title{
    text-align: center;  
    color:white; 
    z-index: 5;
    position: relative;

 
}





/*
#pageWrapper{

	max-width:100%;
	max-height: 100%;
	margin: 0 auto;
	display: block;

}

@font-face {
    font-family: headerF;
    src: url(sansation_light.woff);
}



#sidenav{
	float:right;

}
ul.nav.flex-column{
    padding-right: 75%;
    margin-top: 20%;

}

#myNavmenu, #navBarResponsiveButton{
	visibility: hidden;	
}



@media screen and (max-width: 600px) {
  #sidenav {display: none;}
  #myNavmenu, #navBarResponsiveButton{
	visibility: visible;	}*/



/*
@media (min-width: 576px) {
	#sidenav{

	}
}

.navbar-default {
    background-color: #FFFFFF!important;
    border-color: #FFFFFF!important;
    background-image: unset !important;
    box-shadow: none !important;

}

.navbar-toggle {
    position: relative;
 
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;

       float: left !important;
}



.navmenu, .navbar-offcanvas{
    width: 30% !important;
}
.navbar {
    position: relative;
    margin-left: 10%;

}*/




    /*margin-left: 15px !important;*/




/*.navbar-offcanvas{
        width: 24% !important;

}*/



/*
.navbar navbar-default navbar-fixed-top canvas-slid{
	left: 156px !important;
}

.canvas-slid{
    position: relative;
    left:30%;
    overflow: hidden;
    right: -30%;
}
*/

