#pageWrapper{

	max-width:100%;
	max-height: 100%;
	margin: 0 auto;
	display: block;

}


#mainWrapper {
	max-width:50%;
	max-height: inherit;
	margin: 0 auto;
	
}

#sidenav{
	float:right;

}

#myNavmenu, #navBarResponsiveButton{
	visibility: hidden;	
}



@media screen and (max-width: 600px) {
  #sidenav {display: none;}
  #myNavmenu, #navBarResponsiveButton{
	visibility: visible;	}


/*  .topnav a.icon {
    float: right;
    display: block;
  }*/
}


@media (min-width: 576px) {
	#sidenav{

	}
}

#pageHeader{
	margin-top:20%;
	max-width:100%;

}
.navbar-default {
    background-color: #FFFFFF!important;
    border-color: #FFFFFF!important;
    background-image: unset !important;
    box-shadow: none !important;

}

.navbar-toggle {
    position: relative;
    float: left !important;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px !important;
    margin-bottom: 8px;
}



/*.navbar-offcanvas{
		width: 24% !important;

}*/

/*


.navmenu{
	width: 30% !important;
}

.navbar navbar-default navbar-fixed-top canvas-slid{
	left: 156px !important;
}

.canvas-slid{
    position: relative;
    left:30%;
    overflow: hidden;
    right: -30%;
}


*/