/**
* Document specific styles 
* 
*/

@charset "utf-8";

// The variables
$base-font-family: Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic,
    "Malgun Gothic", Dotum, sans-serif;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe,
    monospace;
$palm-font-size: 16px;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #4f4e4e;
$background-color: #fdfdfd;
$brand-color: #2568ba;

$grey-color: #757575;
$grey-color-light: lighten($grey-color, 45%);
$grey-color-dark: darken($grey-color, 20%);

// Width of the content area
$content-width: 800px;

$on-mobile: 335px;
$on-palm: 600px;
$on-laptop: 800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/**
 * Basic styling
 */
html,
body {
    min-height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

// * {
//     box-sizing: border-box;
//   }

body {
    background-image: url("/assets/images/bg0.jpg");
    background-size: cover;
    // background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );

    font: $base-font-weight #{$base-font-size}/#{$base-line-height}
        $base-font-family;

    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    word-wrap: break-word;

    @include media-query($on-palm) {
        font: $base-font-weight #{$base-font-size}/#{$base-line-height}
            $base-font-family;
    }
}

#header,
#main,
.footer {
    position: sticky;
}

#background {
    transition: opacity 2s ease-in-out;
    opacity: 1;
    background-color: white;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

/**
 * Links
 */

a {
    color: $text-color;
    text-decoration: none;
}

nav a,
div > a {
    &:hover {
        color: black;
        text-decoration: underline;
        transition: color 1s;
    }
}

p a {
    border-bottom: 1px dashed #8c8c8c;

    &:hover {
        border-bottom: 2px solid #8c8c8c;
    }
}

/**
 * Header specific styles 
 * 
 */

/**
 * Clearfix
 * https://www.w3schools.com/howto/howto_css_clearfix.asp
 */
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#header {
    min-height: 56px;
    padding-top: 2em;
}

.footer {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


#title {
    font-size: 32px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    @include media-query(279px) {
        float: none;
    }
}

.archive-title {
    margin: 0;
    font-weight: 100;
}
.post-meta {
    font-size: 16px;
}
.article-post {
    padding-bottom: 1em;
}

#navigation {
    float: right;
    line-height: 56px;

    .nav-link {
        line-height: 1.5;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    @include media-query($on-mobile) {
    
        line-height: 30px;
    
        &:not(:last-child) {
            margin-right: 15px;
        }

    }
}

/**
 * Main Page styles 
 * 
 */

#main {
    padding: 20px 0;
    @include media-query($on-palm) {
        padding: 0;
    }
}

#main-wrapper {
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

/**
 * Footer specific styles 
 * 
 */

.footer-section {
    text-align: center;
}

/**
* Page specific styles 
* 
*/

img {
    border-radius: 5%;
    width: 44%;
    display: block;
    @include media-query($on-palm) {
        width: 100%;
    }
}

hr {
    padding: 0;
    max-width: 900px;
    height: 1px;
    border: 0;
    background-image: -webkit-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.16),
        rgba(0, 0, 0, 0)
    );
    background-image: -moz-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.16),
        rgba(0, 0, 0, 0)
    );
    background-image: -o-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.16),
        rgba(0, 0, 0, 0)
    );
    background-image: linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.16),
        rgba(0, 0, 0, 0)
    );
}

.line-post {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    border-width: 0;
    border-top-width: 0px;
    border-top: 1px solid #e1e1e1;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
